In [5]:
import pandas as pd

In [6]:
data_mat = pd.read_csv("./../student-mat.csv", sep=";")

In [8]:
data_por = pd.read_csv("./../student-por.csv", sep=";")

In [10]:
df = pd.concat([data_mat, data_por])

In [11]:
dfre

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,4,10,11,10
645,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,4,15,15,16
646,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,6,11,12,9
647,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,6,10,10,10
648,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,4,10,11,11

In [12]:
df = df.drop(columns=["school", "sex", "address", "famsize", "Pstatus", "Medu", "Fedu", "Mjob", "Fjob", "reason", "guardian"])

In [13]:
df

,age,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,18,2,2,0,yes,no,no,no,yes,yes,...,4,3,4,1,1,3,6,5,6,6
1,17,1,2,0,no,yes,no,no,no,yes,...,5,3,3,1,1,3,4,5,5,6
2,15,1,2,3,yes,no,yes,no,yes,yes,...,4,3,2,2,3,3,10,7,8,10
3,15,1,3,0,no,yes,yes,yes,yes,yes,...,3,2,2,1,1,5,2,15,14,15
4,16,1,2,0,no,yes,yes,no,yes,yes,...,4,3,2,1,2,5,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
644,19,1,3,1,no,no,no,yes,no,yes,...,5,4,2,1,2,5,4,10,11,10
645,18,1,2,0,no,yes,no,no,yes,yes,...,4,3,4,1,1,1,4,15,15,16
646,18,2,2,0,no,no,no,yes,yes,yes,...,1,1,1,1,1,5,6,11,12,9
647,17,2,1,0,no,no,no,no,no,yes,...,2,4,5,3,4,2,6,10,10,10
648,18,3,1,0,no,no,no,no,no,yes,...,4,4,1,3,4,5,4,10,11,11

In [14]:
df["schoolsup"] = df["schoolsup"].map({"yes": 1, "no": 0})

In [16]:
df["famsup"] = df["famsup"].map({"yes": 1, "no": 0})

In [17]:
df["paid"] = df["paid"].map({"yes": 1, "no": 0})

In [18]:
df["activities"] = df["activities"].map({"yes": 1, "no": 0})

In [19]:
df["nursery"] = df["nursery"].map({"yes": 1, "no": 0})

In [20]:
df["higher"] = df["higher"].map({"yes": 1, "no": 0})

In [21]:
df["internet"] = df["internet"].map({"yes": 1, "no": 0})

In [22]:
df["romantic"] = df["romantic"].map({"yes": 1, "no": 0})

In [23]:
df.head()

,age,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,18,2,2,0,1,0,0,0,1,1,...,4,3,4,1,1,3,6,5,6,6
1,17,1,2,0,0,1,0,0,0,1,...,5,3,3,1,1,3,4,5,5,6
2,15,1,2,3,1,0,1,0,1,1,...,4,3,2,2,3,3,10,7,8,10
3,15,1,3,0,0,1,1,1,1,1,...,3,2,2,1,1,5,2,15,14,15
4,16,1,2,0,0,1,1,0,1,1,...,4,3,2,1,2,5,4,6,10,10

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1044 entries, 0 to 648
Data columns (total 22 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         1044 non-null   int64
 1   traveltime  1044 non-null   int64
 2   studytime   1044 non-null   int64
 3   failures    1044 non-null   int64
 4   schoolsup   1044 non-null   int64
 5   famsup      1044 non-null   int64
 6   paid        1044 non-null   int64
 7   activities  1044 non-null   int64
 8   nursery     1044 non-null   int64
 9   higher      1044 non-null   int64
 10  internet    1044 non-null   int64
 11  romantic    1044 non-null   int64
 12  famrel      1044 non-null   int64
 13  freetime    1044 non-null   int64
 14  goout       1044 non-null   int64
 15  Dalc        1044 non-null   int64
 16  Walc        1044 non-null   int64
 17  health      1044 non-null   int64
 18  absences    1044 non-null   int64
 19  G1          1044 non-null   int64
 20  G2          1044 non-null   int64
 21  G3          1044 non-null   int64
dtypes: int64(22)
memory usage: 187.6 KB

In [25]:
df.corr()["G1"]

age          -0.124121
traveltime   -0.121053
studytime     0.211314
failures     -0.374175
schoolsup    -0.136877
famsup       -0.013655
paid         -0.038588
activities    0.067962
nursery       0.047878
higher        0.271476
internet      0.104772
romantic     -0.055869
famrel        0.036947
freetime     -0.051985
goout        -0.101163
Dalc         -0.150943
Walc         -0.142401
health       -0.060478
absences     -0.092425
G1            1.000000
G2            0.858739
G3            0.809142
Name: G1, dtype: float64